body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
margin-top: 0;
margin-bottom: 0;
}

img{
display:block;    
}

ul{
padding-left: 0px;    
}
:root{
--bg-color:#FFFFFF;
--logo-color:#4d5ae5;
--span-color:#2e2f42;
--list-color:#434455;
--btn-bg:#f4f4fd;
--btn-hover:#404bbf;
}

.container{
width: 1158px;  
margin:0 auto; 
padding: 0 15px;
}

.header-container{
width: 1158px;
margin: 0 auto;
padding: 0 15px;
}

.logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--logo-color);
text-decoration: none;
font-style: normal;
margin-right: 76px;
}

.logo-text {
color:var(--span-color);

}

.header{
display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 156px;
    padding-left: 156px;
    border-bottom: 1px solid #e7e9fc;
}

.header-container{
display: flex;


}

.list-nav {
list-style: none;
display: flex;
align-items: center;


}
.list-link:hover,
.list-link:focus{
    color:var(--btn-hover);
}
.address-list:hover,
.address-list:focus{
color:var(--btn-hover); 
} 
.link {
text-decoration: none;
}
.list-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing:0.02em;
color:var(--span-color);
text-decoration: none;
padding-top: 24px;
padding-bottom: 24px;

}
.list-link:hover,
.list-link:focus {
color:var(--btn-hover);
} 


.address-menu:hover,
.address-menu:focus{
color: var(--btn-hover);

}
.address-list{
font-style: normal;
}
.contacts {
font-style: normal;

}

.list-address{
display: flex;
gap: 40px;
list-style: none;
}

.list {
list-style:none;
display: flex;
gap:40px;
margin-right: 250px;

}
.list-menu {
font-weight: 400;   
font-style: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--list-color)    
}

.list-menu:hover,
.list-menu:focus{
    color:var(--btn-hover);
}

.hero{
background-color:var(--span-color);
text-align: center;
padding-top:188px;
padding-bottom: 188px;
}

h1.hero-title {
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color:var(--bg-color);   
text-align: center;
margin-bottom: 64px;
max-width:496px;
margin-left:auto;
margin-right: auto;
}

.hero-btn {
background-color:var(--logo-color) ;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color:var(--bg-color);
margin-bottom: 188px;
padding: 16px 32px;
display: block;
min-width: 169px;
height: 56px;
border:none;
border-radius: 4px;
cursor: pointer;
align-content: center;


}

.hero-btn:hover ,
.hero-btn:focus {
background-color:var(--btn-hover);
cursor: pointer;
}

.strengths{
padding-top:120px;
padding-bottom:120px;    
}

.list-strengths{
list-style:none;
display: flex;
gap:24px;

}

.list-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--span-color);
margin-bottom: 8px;

}

.list-desc{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--list-color);
width: 264px;

}
.doing{
margin-top: 120px;
margin-bottom:120px;    
}

.do-title{
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color:var(--span-color);
margin:72px;
}
.list-img{
display: flex;
gap:24px;
list-style: none;    
}

.team-section{
background-color: var(--btn-bg);

}

.team-title{
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color:var(--span-color);
padding-top: 120px;     
padding-bottom: 72px;
}

.list-team{
display:flex;
gap:24px;
list-style: none;  
padding-bottom: 120px;  
}

.list-item{
background-color:var(--bg-color);

}

.text {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--span-color)    

}

.list-title-second{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--span-color);
margin-top: 32px;
text-align: center;
}

.list-desc-second {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--list-color);
margin-top: 8px;
text-align: center;    
}

.footer {
background-color:var(--span-color);
padding-top: 101.5px;

}

.footer-span{
color: var(--btn-bg);
padding-top:101.5px; 
}

.copyright{
padding-bottom:100px;
width: 264px;
padding-top:17.5px;    
}

.portfolio-btn{
font-family: 'Roboto', sans-serif;  
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;  
color:var(--logo-color);
background-color: var(--btn-bg);
cursor: pointer;
margin-top: 96px;
margin-bottom: 72px;
padding: 12px 24px;
border: 1px solid var(--border-btn);
border-radius: 4px;



}

.list-btn{
display: flex;
gap:24px;
list-style: none;
margin-top: 96px;
margin-bottom: 72px;
justify-content: center;
}

.portfolio-btn:hover,
.portfolio-btn:focus{
color:var(--bg-color); 
background-color: var(--btn-hover); 
}

.portfolio-item__title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--span-color);
margin-top: 32px;
margin-bottom: 8px;
margin-left: 16px;
}

.list-portfolio{
display: flex;
flex-wrap: wrap;
list-style: none;
column-gap: 24px;
row-gap: 48px;
padding-left: 0px;


}

.portfolio-item{
border: 1px solid #E7E9FC;
}

.portfolio-item__description{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--list-color);
margin-bottom: 32px;
margin-left: 16px;
}

.logo link{
    text-decoration: none;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--btn-hover);
    cursor: pointer;
    color:var(--bg-color);
}

.copyright{
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #F4F4FD;
}

.portfolio-section{
margin-bottom: 120px;    
}